<div id="js-drawer" class="drawer js-drawer" aria-expanded="false">
  <!-- ※デフォルトはfalse -->
  <nav class="drawer__nav">
    <ul class="drawer-items">
      <li class="drawer-item">menu1</li>
      <li class="drawer-item">menu2</li>
      <li class="drawer-item">menu3</li>
    </ul>
  </nav>
  <button id="js-closeDrawer" class="drawer-close-button js-closeDrawer" type="button" aria-controls="drawer" aria-expanded="false">CLOSE
    <span class="drawer-close-button__icon"><span class="sr-only">メニューを閉じる</span></span>
  </button>
</div>