<header class="header js-header">
  <div class="header-inner">
    <p><img src="./assets/images/logo.png" alt="" width="256" height="256"></p>
    <!-- PC -->
    <nav class="header-nav pc-nav" role="navigation">
      <ul class="header-items">
        <li class="header-item">MENU 1</li>
        <li class="header-item">MENU 2</li>
        <li class="header-item">MENU 3</li>
      </ul>
    </nav>
    <!--  // PC -->

    <!-- SP -->
    <button id="js-openDrawer" class="drawer-open-button js-openDrawer is-sp" type="button" aria-controls="js-drawer" aria-expanded="false">
      <span class="drawer-open-button__icon">OPEN<span class="sr-only">メニューを開く</span></span>
    </button>
    <!-- // SP -->
  </div>
</header>