<% const page='home'; %>
<main class="main">
  <div class="test" style="width: 500px;height: 500px;"></div>
  <section>
    <h1>TOP PAGE</h1>
    <a href="./about.html">ABOUTへ</a>
  </section>
</main>